<div class="main-w3layouts wrapper">
    <h1>ورود </h1>
    <div class="main-agileinfo">
        <div class="agileits-top">
            <form [formGroup]="angForm" (ngSubmit)="onSubmit()" name="form" #f="ngForm" novalidate>
                <div class="form-group mb-4">
                    <input formControlName="username" class="form-group text text-end" type="text" name="username"
                        placeholder="شماره موبایل">
                    <div class="text-danger text-end mr-4"
                        *ngIf="angForm.get('username')?.hasError('required') && angForm.get('username')?.touched">
                        شماره موبایل الزامی است
                    </div>
                    <div class="text-end mr-4"
                        *ngIf="angForm.get('username')?.hasError('pattern') && angForm.get('username')?.touched">
                        شماره موبایل باید به شکل "+989..." باشد (مثال: +989143610514)
                    </div>
                </div>
                <div class="form-group">
                    <input formControlName="password" class="form-group text w3lpass text-end mb-0" type="password"
                        name="password" placeholder="رمز">
                    <div class="text-danger text-end mr-4"
                        *ngIf="angForm.get('password')?.hasError('required') && angForm.get('password')?.touched">
                        رمز عبور الزامی است
                    </div>
                    <div class="text-danger text-end mr-4"
                        *ngIf="angForm.get('password')?.hasError('minlength') && angForm.get('password')?.touched">
                        رمز عبور باید حداقل 8 حرف باشد
                    </div>
                </div>
                <input type="submit" value="ورود">
                <div class="form-group">
                    <div class="text-danger text-end" *ngIf="isSignUpFailed">
                        <!-- ثبت نام ناموفق بود!<br />{{ errorMessage }} -->
                    </div>
                </div>
            </form>
            <p>اکانت ندارید؟ <a href="" routerLink="/auth"> ثبت نام</a></p>
        </div>
    </div>
    <!-- copyright -->
    <div class="colorlibcopy-agile">
        <p>© All rights reserved <a href="" target="_blank">Atlas</a></p>
    </div>
    <!-- //copyright -->
    <ul class="colorlib-bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>