<div class="listing-section d-flex justify-content-center product-container" id="scroll1">

  <div class="product el-wrapper" *ngFor="let product of productCardsData$ | async">
    <div *ngIf="product.title && product.unit_price">
      <div class="box-up">
        <img class="img" [src]="product.images[0]?.image" alt="">
        <div class="img-info">
          <a [routerLink]="['product-details', product.id]">
            <div class="info-inner">
              <span class="p-name">{{ product.title }}</span>
            </div>
          </a>
        </div>
      </div>

      <div class="box-down">
        <div class="h-bg">
          <div class="h-bg-inner"></div>
        </div>

        <a class="cart">
          <span class="price">{{ product.unit_price / 10 | persianPrice }}</span>
          <span class="add-to-cart">
            <span class="txt">
              <input #productQty type="number" value="1"/>
              <button (click)="buy(product.id, productQty.valueAsNumber )">
                خرید
              </button>
            </span>
          </span>
        </a>
      </div>
    </div>
  </div>
</div>