<app-navbar></app-navbar>

<div class="about-us-page ">
    <h1>درباره ی اطلس پمپ</h1>

    <!-- Video Section -->
    <div class="video-container mt-4">
        <!-- You can embed a video from YouTube or another platform here -->
        <!-- <video width="560" height="315" src="assets/images/about.mp4"about-video.41ae64ef315828d9555f frameborder="0" allowfullscreen></video> -->
        <video width="360" height="315" controls autoplay="true" class="container">
            <source controls loop src="assets/images/about-video.41ae64ef315828d9555f.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>

    </div>

    <!-- Text Section -->
    <div class="text-section text-dark text-end mt-4 mb-4">
        <p class="about-text">
            صنایع پمپ سازی اطلس در سال 1374 هجری شمسی با هدف تولید انواع پمپ های فشار قوی گریز از مرکز گل کش و پمپ های
            سفارش خاص برای مصارف شهری ، کشاورزی و صنعتی تاسیس شده است . این مجموعه تولیدی از ابتدای فعالیت ، با استفاده
            از تکنولوژی مهندسی معکوس از تولیدات شرکت المان انواع محصولات خود را تولید نموده و با نهادینه شدن تولید ، با
            کیفیت و ارزان پمپ ، سعی در جلب رضایت مشتریان برآمد . صنایع پمپ سازی اطلس در شهرتاریخی و صنعتی تبریز در
            کارگاهی کوچک با مساحت 60 متر تاسیس شده بود و با اتکا به دانش فنی و کسب اطلاعات از تکنولوژی های بروز صنعتی
            توانسته است ، قطعات و پمپ های با کیفیت و با طول عمر بالا و باقیمت مناسب روز به مصرف کنندگان عرضه نماید .
            اکنون فعالیت این واحد تولیدی در شهرک صنعتی تخصصی صنایع ساختمانی با بیش از 26000 متر زیربنا ادامه دارد و با
            اهداف : تولید کالای با کیفیت و ارزان و با سعی در کسب رضایت مشتریان مشغول به کار میباشد . مواد خام اولیه شرکت
            از تولیدات داخل میباشد که در بهترین کارخانه های ریخته گری با تکنولوزی روز دنیا آماد می شود .
            این مجموعه با در اختیار داشتن تکنولوژی به روز ماشینکاری قطعات ، در زمینه ماشین آلات تمام اتوماتیک موفق به
            تولید دقیق ترین و با کیفیت ترین قطعات پمپ و نهایتآ مونتاژ محصولاتی که از نظر دقت و کیفیت در بالا ترین سطح
            محصولات تولید شده در داخل کشور قرار دارد . صنایع پمپ سازی اطلس دارای زیر مجموعه هایی شامل 8 کارکاه بزرگ و
            کوچک در سطح استان می باشد ، که این امر باعث اشتغال زائی در سطح استان بوده وجزو واحد های نمونه استانی میباشد
            . صنایع پمپ سازی اطلس از سال 1390 جزو کارخانه های تایید شده در سازمان جهادکشاورزی بوده . استقبال بی نظیر و
            توجه فوق العاده خریداران به محصولات صنایع پمپ سازی اطلس نمایانگر رشد دائمی ، استمرار کیفیت ، پایبندی ،
            توانایی ، حسن شهرت این شرکت می باشد . ما بر این باوریم که رضایت و اطمینان خاطر مشتریان ، دستاورد گرانقدری
            است که تنها با همراهی و پشتیبانی از مشتریان و ارائه خدمات مطلوب به آنان از مرحل تصمیم گیری و انتخاب محصول
            مورد نظر تا نصب و بهره برداری محقق می گردد . ماحصل سالیان سال تجربه در این صنعت و توجه به انتظارات مشتریان
            منجر به گسترش و تولید و عرضه محصولات جدید گردیده است .
        </p>
    </div>

    <!-- Team Members Section -->

    <div class="team mt-4">
        <h2>تیم کاری اطلس پمپ</h2>
        <div class="team-member">
            <img src="assets/images/vecteezy_illustration-of-human-icon-vector-user-symbol-icon-modern_8442086.19fd5830ad5ffd59db24.jpg"
                alt="Team Member 1" style="border-radius: 50%; height: 200px; width: 200px;">
            <h3>رامین خسروشاهی</h3>
            <div>مدیر عامل</div>
        </div>
        <div class="team-member">
            <img src="assets/images/vecteezy_illustration-of-human-icon-vector-user-symbol-icon-modern_8442086.19fd5830ad5ffd59db24.jpg"
                alt="Team Member 2" style="border-radius: 50%; height: 200px; width: 200px;">
            <h3>امین خسروشاهی</h3>
            <div>مدیر عامل</div>
        </div>
        <div class="team-member">
            <img src="assets/images/vecteezy_illustration-of-human-icon-vector-user-symbol-icon-modern_8442086.19fd5830ad5ffd59db24.jpg"
                alt="Team Member 3" style="border-radius: 50%; height: 200px; width: 200px;">
            <h3>بهزاد صائدی</h3>
            <div>مدیر فروش </div>
        </div>
    </div>
</div>
<app-footer></app-footer>