        /* Style for the page container */
        .about-us-page {
            text-align: center;
            padding: 20px;
        }

        /* Style for the video section */
        .video-section {
            width: 80%;
            margin: 0 auto;
        }

        /* Style for the text section */
        .text-section {
            width: 80%;
            margin: 20px auto;
            text-align: left;
        }

        /* Style for team members */
        .team-member {
            display: inline-block;
            text-align: center;
            width: 30%;
            margin: 20px;
        }

        /* Style for team member images */
        .team-member img {
            max-width: 100%;
            border-radius: 50%;
        }


        video {
            display: inline-block;
            vertical-align: baseline;
          }

          .text-section {
            margin-top: 100px !important;
            // background-color: #fffeeb;
            // padding: 20px;
            // border-radius: 10px;
            // box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            // margin-bottom: 20px;
        }

        .team{
            background-color:  #0056b3 ;
            border-radius: 2%;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            margin-bottom: 20px;
            margin-top: 100px !important;
        }
        h2,h3{
            color: white;
        }
        .about-text {
            direction: rtl;
            text-align: justify;
            font-size: 16px;
            line-height: 24px;
        }