$primary: #f1bc31;
$font-primary: 'Poppins',Arial, sans-serif;
.d-flex {
    /* Use flexbox to arrange the avatars horizontally */
    display: flex;
    flex-wrap: wrap;
  }
  
  .avatar-container {
    /* Add spacing between avatars */
    margin-right: 27px;
    margin-left: 27px;
    display: flex;
    height: 150px;
  }
  
  .avatar {
    /* Style the avatar as a circle */
    display: block;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    overflow: hidden;
    transition: transform 0.3s;
    box-shadow: 1px 1px 5px 1px #acacac;
    
  }
  .avatar-inner {
    /* Style the avatar as a circle */
    display: block;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    overflow: hidden;
    transition: transform 0.3s;
    border: $primary;
    border-style: solid;
    margin-bottom: 4px !important;
    border-radius: 50%;
  }
  
  .avatar:hover {
    /* Add a hover effect, e.g., scaling */
    transform: scale(1.1);
    box-shadow: 1px 1px 15px 1px #acacac;

  }
  
  .avatar img {
    /* Ensure the image covers the circle */
    width: 100%;
    height: 100%;
    object-fit: cover;

  }
  p {
    font-family: 'IRANSans';
    line-height: 1.3  !important;
    letter-spacing: -1px;
    margin-top: 8px;
    text-align: center;
    color: #999;
    padding: 0;
  }

  h2 {
    font-family: 'IRANSans Medium';
    font-weight: normal;
    letter-spacing: 0px;
  }
