<div class="container mt-4 mb-3 d-flex align-items-center justify-content-center">
    <h2 class="row mt-4" style="font-weight: bold;">دسته بندی پمپ های اطلس پمپ</h2>
    <div class="container mt-4 mb-3 d-flex align-items-center justify-content-center">
        <div *ngFor="let product of productData" class="avatar-container mb-2">
            <div class="items">
                <div class="avatar" (click)="goToGroupItems(product.featured_group.collection)">
                    <div class="avatar-inner"><img [src]="product.featured_group.image" /></div>
                </div>
                <p class="align-items-center text-center"> {{product.title}}</p>
            </div>
        </div>
    </div>

</div>