<div class="con"><app-navbar></app-navbar>
	<div class="pd-wrap" *ngIf="product">
		<div class="" style="">

			<div class="row mb-4 d-flex justify-content-center " style="flex-direction: row-reverse !important;">
				<div class="col-md-3 col-lg-3 col-7 col-sm-5">
					<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">

						<div class="carousel-inner">
							<div class="carousel-item active">
								<img src="{{product.images[0].image}}" class="d-block w-100" alt="...">
							</div>
							<div class="carousel-item">
								<img src="{{product.images[0].image}}" class="d-block w-100" alt="...">
							</div>
							<div class="carousel-item">
								<img src="{{product.images[0].image}}" class="d-block w-100" alt="...">
							</div>
						</div>
						<div class="carousel-indicators">
							<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
								class="active thumbnail" aria-current="true" aria-label="Slide 1">
								<img src="{{product.images[0].image}}" class="d-block w-100" alt="...">
							</button>
							<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
								class="thumbnail" aria-label="Slide 2">
								<img src="{{product.images[0].image}}" class="d-block w-100" alt="...">
							</button>
							<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
								class="thumbnail" aria-label="Slide 3">
								<img src="{{product.images[0].image}}" class="d-block w-100" alt="...">
							</button>
						</div>
					</div>
					<div class="container" style="height: 60px;"></div>
				</div>

				<div class="col-md-6 col-lg-6 col-12 "
					style="border-left: solid;border-color: #dee2e6;border-width: 1px;">

					<div class="product-dtl mx-4">
						<div class="product-info text-endfloat-right">
							<div class="heading-section text-end">
								<h2>{{product.title}}</h2>
							</div>
							<!-- <div class="product-name text-end">ویژگی ها </div><br> -->
							<div class="product-price-discount text-end text-primary" dir="rtl">
								<span>{{product.unit_price|
									persianPrice }}</span>

								<!-- <span
						class="line-through">$29.00</span> -->
							</div>
							<div class="reviews-counter text-end">
								<!-- <div class="rate">
								<input type="radio" id="star5" name="rate" value="5" checked />
								<label for="star5" title="text">5 stars</label>
								<input type="radio" id="star4" name="rate" value="4" checked />
								<label for="star4" title="text">4 stars</label>
								<input type="radio" id="star3" name="rate" value="3" checked />
								<label for="star3" title="text">3 stars</label>
								<input type="radio" id="star2" name="rate" value="2" />
								<label for="star2" title="text">2 stars</label>
								<input type="radio" id="star1" name="rate" value="1" />
								<label for="star1" title="text">1 star</label>
							</div> -->
								<!-- <span>
								3 Reviews
							</span> -->
							</div>
						</div>
						<div class="product-attributes text-end">
							<ng-container *ngFor="let atr of product.attributes; let i = index">
								<p class="text-end" *ngIf="showAllAttributes || i < 5"> {{ atr.attribute }}&#160; &#160;
									<i class="fa fa-check-square-o" aria-hidden="true"></i>
								</p>
							</ng-container>
							<a class="text-end text-primary" *ngIf="!showAllAttributes"
								(click)="toggleAttributes()">...بیشتر</a>
							<a class="text-end text-primary" *ngIf="showAllAttributes"
								(click)="toggleAttributes()">...کمتر</a>
						</div>
						<div class="">
							<div class="product-count d-flex justify-content-left mb-0 flex-wrap">
								<button class="round-black-btn" (click)="buy(product['id'])">خرید</button>
								<label for="size" class="text-end"></label>
								<form action="#" class="display-flex">
									<div class="qtyminus" (click)="decrement()">-</div>
									<input [(ngModel)]="value" name="quantity" value="1" class="qty"
										id="quantityInput" />
									<div class="qtyplus" (click)="increment()">+</div>
								</form>






							</div>
							<div class="price-container">

								<div class="container d-flex flex-wrap justify-content-around" style="direction: rtl;">
									<div class="row">
										<div class="col-md-6">
											<div class="row">
												<div class="col">
													<h2>دور 1450</h2>
												</div>
											</div>
											<div class="row">
												<div class="col">
													<p> {{'KW'+' '+ product.powers[0].power + ' ' +'کیلووات'}}</p>
												</div>
											</div>

											<div class="row">
												<div class="col">
													<p> {{'HP'+' '+ product.powers[1].power + ' ' +'اسب بخار'}}</p>
												</div>
											</div>
										</div>

										<div class="col-md-6">
											<div class="row">
												<div class="col">
													<h2>دور 2900</h2>
												</div>
											</div>
											<div class="row">
												<div class="col">
													<p> {{'KW'+' '+ (product?.powers[2]?.power??'' )+ ' ' +'کیلووات'}}
													</p>
												</div>
											</div>

											<div class="row">
												<div class="col">
													<p> {{'HP'+' '+( product?.powers[3]?.power??'') + ' ' +'اسب بخار'}}
													</p>
												</div>
											</div>
										</div>
									</div>
								</div>

								<!-- <div class="row">
						<div class="col-md-6">
							<label for="size">Size</label>
							<select id="size" name="size" class="form-control">
								<option>S</option>
								<option>M</option>
								<option>L</option>
								<option>XL</option>
							</select>
						</div>
						<div class="col-md-6">
							<label for="color">Color</label>
							<select id="color" name="color" class="form-control">
								<option>Blue</option>
								<option>Green</option>
								<option>Red</option>
							</select>
						</div>
					</div> -->

							</div>
						</div>
					</div>
				</div>
				<div class="d-none d-md-block col-md-1 order-last mt-4 mx-4">
					<aside class="sidebar-container sidebar-right single-product-sidebar area-sidebar-product-single"
						role="complementary">

						<div class="widget-area woodmart-sidebar-content">

							<div data-elementor-type="wp-post" data-elementor-id="35" class="elementor elementor-35">
								<div class="elementor-inner">
									<div class="elementor-section-wrap">
										<section
											class="wd-negative-gap elementor-section elementor-top-section elementor-element elementor-element-4bfa738 elementor-section-boxed elementor-section-height-default elementor-section-height-default wd-section-disabled"
											data-id="4bfa738" data-element_type="section">
											<div class="elementor-container elementor-column-gap-default">
												<div class="elementor-row">
													<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-2395eb0"
														data-id="2395eb0" data-element_type="column">
														<div class="elementor-column-wrap elementor-element-populated">
															<div class="elementor-widget-wrap">
																<div class="elementor-element elementor-element-f2d2453 elementor-widget elementor-widget-wd_infobox"
																	data-id="f2d2453" data-element_type="widget"
																	data-widget_type="wd_infobox.default">
																	<div class="elementor-widget-container">
																		<div class="info-box-wrapper">
																			<div class="wd-info-box text-center box-icon-align-top box-style-base color-scheme- cursor-pointer"
																				onclick="window.location.href='#'">
																				<div
																					class="box-icon-wrapper  box-with-icon box-icon-simple">
																					<div class="info-box-icon">
																						<span
																							class="info-svg-wrapper info-icon"
																							style="width:80px; height:80px;"><svg
																								id="svg-2580"
																								xmlns="http://www.w3.org/2000/svg"
																								width="74" height="73"
																								viewBox="0 0 158 106">
																								<g fill="none"
																									fill-rule="evenodd">
																									<path fill="#F05562"
																										d="M86.751 13l47.734 14.917v23.36l-15.793 5.141V34.216L69 18.375z">
																									</path>
																									<path fill="#434A54"
																										fill-rule="nonzero"
																										d="M89.024 12.944l48.042 15.35a2.5 2.5 0 0 1 1.739 2.38v20.271a2.5 2.5 0 0 1-1.668 2.358l-4.695 1.658a2.5 2.5 0 0 1-1.665-4.715l3.028-1.07V32.502l-53.5-17.094c-2.293-.733-2.327-3.967-.048-4.747l17.6-6.025a2.5 2.5 0 0 1 1.562-.02l56 17.671a2.5 2.5 0 0 1 1.748 2.385v60.964a2.5 2.5 0 0 1-1.746 2.383l-56 17.715a2.5 2.5 0 0 1-1.517-.003L42.603 88.016a2.5 2.5 0 0 1-1.738-2.381v-8.252a2.5 2.5 0 1 1 5 0v6.427l52.807 16.916 53.495-16.922v-57.3L98.699 9.631l-9.675 3.312z">
																									</path>
																									<path fill="#434A54"
																										fill-rule="nonzero"
																										d="M153.913 22.616a2.5 2.5 0 1 1 1.508 4.768l-56 17.714a2.5 2.5 0 0 1-1.512 0L55.173 31.505a2.5 2.5 0 0 1 1.516-4.764l41.98 13.35 55.244-17.476z">
																									</path>
																									<path fill="#434A54"
																										fill-rule="nonzero"
																										d="M123.62 52.464a2.5 2.5 0 0 1 1.567 4.748l-6.165 2.036a2.5 2.5 0 0 1-3.284-2.374V38.429L62.24 21.335c-2.306-.736-2.323-3.993-.025-4.754l21.001-6.954a2.5 2.5 0 1 1 1.572 4.746L71.08 18.912 119 34.222a2.5 2.5 0 0 1 1.74 2.382v16.812l2.88-.952z">
																									</path>
																									<path fill="#434A54"
																										fill-rule="nonzero"
																										d="M45.851 26.94v12.047a2.5 2.5 0 1 1-5 0V25.105a2.5 2.5 0 0 1 1.751-2.385l19.863-6.237a2.5 2.5 0 1 1 1.498 4.77L45.851 26.94z">
																									</path>
																									<path fill="#55C6D9"
																										fill-rule="nonzero"
																										d="M66.965 44.5a2.5 2.5 0 1 1 0 5H22a2.5 2.5 0 1 1 0-5h44.965zM41.965 55.5a2.5 2.5 0 1 1 0 5H3a2.5 2.5 0 1 1 0-5h38.965z">
																									</path>
																									<circle cx="14.5"
																										cy="47" r="2.5"
																										fill="#55C6D9">
																									</circle>
																									<circle cx="21.5"
																										cy="69" r="2.5"
																										fill="#55C6D9">
																									</circle>
																									<path fill="#55C6D9"
																										fill-rule="nonzero"
																										d="M53.965 66.5a2.5 2.5 0 1 1 0 5H29a2.5 2.5 0 1 1 0-5h24.965zM78.965.5a2.5 2.5 0 1 1 0 5H40a2.5 2.5 0 1 1 0-5h38.965zM39.965 12.5a2.5 2.5 0 1 1 0 5H21a2.5 2.5 0 1 1 0-5h18.965z">
																									</path>
																									<path fill="#434A54"
																										fill-rule="nonzero"
																										d="M101.5 103.125a2.5 2.5 0 1 1-5 0V90.76a2.5 2.5 0 1 1 5 0v12.365zM101.5 80.714a2.5 2.5 0 1 1-5 0V45a2.5 2.5 0 1 1 5 0v35.714z">
																									</path>
																								</g>
																							</svg> </span>
																					</div>
																				</div>

																				<div class="info-box-content">

																					<h4 class="info-box-title title box-title-style-default wd-fontsize-m"
																						data-elementor-setting-key="title">
																						تحویل اکسپرس </h4>

																					<div class="info-box-inner set-cont-mb-s reset-last-child"
																						data-elementor-setting-key="content">
																						<p>تحویل اکسپرس</p>
																					</div>

																				</div>
																			</div>
																		</div>
																	</div>
																</div>
																<div class="elementor-element elementor-element-de316e7 elementor-widget elementor-widget-wd_infobox"
																	data-id="de316e7" data-element_type="widget"
																	data-widget_type="wd_infobox.default">
																	<div class="elementor-widget-container">
																		<div class="info-box-wrapper">
																			<div class="wd-info-box text-center box-icon-align-top box-style-base color-scheme- cursor-pointer"
																				onclick="window.location.href='#'">
																				<div
																					class="box-icon-wrapper  box-with-icon box-icon-simple">
																					<div class="info-box-icon">
																						<span
																							class="info-svg-wrapper info-icon"
																							style="width:80px; height:80px;"><svg
																								id="svg-6020"
																								xmlns="http://www.w3.org/2000/svg"
																								width="65" height="71"
																								viewBox="0 0 109 119">
																								<g fill="none"
																									fill-rule="evenodd">
																									<g
																										fill-rule="nonzero">
																										<path
																											fill="#F05562"
																											d="M90.77 87.807c8.304 0 15.035-6.731 15.035-15.034 0-8.304-6.731-15.035-15.034-15.035v30.069z">
																										</path>
																										<g
																											fill="#434A54">
																											<path
																												d="M94.364 13.832C85.444 4.912 73.63 0 61.1 0 48.571 0 36.758 4.912 27.84 13.832a47.536 47.536 0 0 0-8.387 11.31c-1.403 3.833 3.126 4.769 4.225 2.22C30.78 13.942 44.89 4.78 61.1 4.78c23.332 0 42.314 18.982 42.314 42.313v13.708c-3.178-3.355-7.67-5.454-12.644-5.454a2.39 2.39 0 0 0-2.39 2.39v30.069a2.39 2.39 0 0 0 2.39 2.39c9.518 0 17.274-7.672 17.418-17.157.002-.03.004-8.678.007-25.946 0-12.53-4.913-24.343-13.832-33.262zM93.16 85.19V60.355c5.833 1.12 10.254 6.263 10.254 12.418 0 6.154-4.42 11.296-10.254 12.417zM103.838 87.566c-.606 0-1.201.247-1.63.676a2.324 2.324 0 0 0-.675 1.632c0 .604.246 1.199.675 1.63a2.32 2.32 0 0 0 1.63.673 2.32 2.32 0 0 0 1.63-.673 2.327 2.327 0 0 0 .675-1.63c0-.609-.246-1.204-.675-1.632a2.323 2.323 0 0 0-1.63-.676zM102.53 95.08a2.39 2.39 0 0 0-3.267.874c-4.639 8.031-11.93 13.554-21.176 16.084l-1.203-5.66a2.39 2.39 0 0 0-2.836-1.842l-8.068 1.715a2.39 2.39 0 0 0-1.841 2.835l1.715 8.07a2.39 2.39 0 0 0 2.835 1.84l8.069-1.715c11.713-2.49 20.927-9.037 26.645-18.935a2.39 2.39 0 0 0-.874-3.266zm-33.218 15.35l3.392-.72.721 3.392-3.392.721-.721-3.392z">
																											</path>
																										</g>
																									</g>
																									<path fill="#55C6D9"
																										fill-rule="nonzero"
																										d="M8.852 36.64a3.689 3.689 0 0 0-3.688 3.688v42.554a3.689 3.689 0 0 0 3.688 3.689h54.575l6.26 7.712a.738.738 0 0 0 1.31-.465v-53.49a3.689 3.689 0 0 0-3.688-3.689H8.852zm0 54.357a8.115 8.115 0 0 1-8.114-8.115V40.328a8.115 8.115 0 0 1 8.114-8.115H67.31a8.115 8.115 0 0 1 8.114 8.115v53.49a5.164 5.164 0 0 1-9.173 3.254l-4.93-6.075H8.851z">
																									</path>
																									<path fill="#434A54"
																										d="M10 67.062v-3.408l7.868-8.139c1.482-1.555 2.634-3.077 2.634-4.631 0-1.853-1.251-3.011-2.996-3.011-1.777 0-3.094 1.058-3.851 2.713l-3.819-2.25c1.481-3.309 4.477-4.897 7.604-4.897 3.95 0 7.605 2.647 7.605 7.28 0 2.811-1.613 5.226-3.786 7.41l-4.51 4.533h8.658v4.4H10zm35.81-8.172v4.235h-2.47v3.937h-4.575v-3.937H27.869V58.89l7.936-15.45h4.872l-7.903 15.45h5.991v-5.492h4.576v5.492h2.469zm5.865.413h14.88v3.87l-7.803 19.29h-4.806l7.572-18.793h-9.843v-4.367z">
																									</path>
																									<path fill="#F05562"
																										d="M56.717 44.26L36.162 82.461h1.992L58.695 44.26z">
																									</path>
																								</g>
																							</svg> </span>
																					</div>
																				</div>

																				<div class="info-box-content">

																					<h4 class="info-box-title title box-title-style-default wd-fontsize-m"
																						data-elementor-setting-key="title">
																						پشتیبانی 24 ساعته </h4>

																					<div class="info-box-inner set-cont-mb-s reset-last-child"
																						data-elementor-setting-key="content">
																						<p>پشتیبانی 24 ساعته</p>
																					</div>

																				</div>
																			</div>
																		</div>
																	</div>
																</div>
																<div class="elementor-element elementor-element-613ae88 elementor-widget elementor-widget-wd_infobox"
																	data-id="613ae88" data-element_type="widget"
																	data-widget_type="wd_infobox.default">
																	<div class="elementor-widget-container">
																		<div class="info-box-wrapper">
																			<div class="wd-info-box text-center box-icon-align-top box-style-base color-scheme- cursor-pointer"
																				onclick="window.location.href='#'">
																				<div
																					class="box-icon-wrapper  box-with-icon box-icon-simple">
																					<div class="info-box-icon">
																						<span
																							class="info-svg-wrapper info-icon"
																							style="width:80px; height:80px;"><svg
																								id="svg-3806"
																								xmlns="http://www.w3.org/2000/svg"
																								width="70" height="72"
																								viewBox="0 0 117 120">
																								<g fill="none"
																									fill-rule="evenodd">
																									<path fill="#F05562"
																										d="M46.573 8.182l47.733 14.917v23.36L78.514 51.6V29.398L28.821 13.557z">
																									</path>
																									<path fill="#434A54"
																										fill-rule="nonzero"
																										d="M116.014 19.464a2.075 2.075 0 0 0-.647-1.088 2.588 2.588 0 0 0-.47-.373 2.567 2.567 0 0 0-.3-.15c-.048-.028-18.584-5.94-55.609-17.735a2.52 2.52 0 0 0-1.526 0L2.075 17.742a2.518 2.518 0 0 0-1.762 2.396v60.423c0 1.098.714 2.07 1.762 2.4l19.451 6.575c.33.105.873-1.358 1.626-4.389L5.348 78.72V21.98l16.785-5.34 47.08 14.982-10.995 3.497-42.044-13.373a2.517 2.517 0 1 0-1.526 4.798L55.7 39.602v29.924a2.518 2.518 0 0 0 5.035 0V39.602l14.268-4.532v16.702a2.518 2.518 0 0 0 3.273 2.4l5.873-1.874a2.517 2.517 0 1 0-1.526-4.798l-2.593.825V33.472l13.006-4.14v14.854l-2.86.91a2.517 2.517 0 0 0 .756 4.916c.256 0 .51-.04.755-.118l4.617-1.468a2.517 2.517 0 0 0 1.762-2.4V27.722l13.021-4.139v55.136l-3.272 1.045a2.518 2.518 0 1 0 1.371 4.845c.031-.01 1.756-.558 5.175-1.648a2.517 2.517 0 0 0 1.762-2.4V20.139a2.517 2.517 0 0 0-.109-.674zm-38.496 9.514l-47.08-14.98 9.739-3.1 47.079 14.98-9.738 3.1zm18.04-5.74L48.483 8.255l9.736-3.096 47.079 14.98-9.738 3.099z">
																									</path>
																									<path fill="#434A54"
																										fill-rule="nonzero"
																										d="M13.345 63A2.345 2.345 0 0 0 11 65.345v17.034a2.345 2.345 0 0 0 4.69 0V65.345A2.345 2.345 0 0 0 13.345 63zM13.344 56c-.617 0-1.221.25-1.657.687a2.363 2.363 0 0 0-.687 1.66c0 .613.25 1.218.687 1.656a2.36 2.36 0 0 0 1.657.684A2.36 2.36 0 0 0 15 60.004c.436-.438.687-1.04.687-1.657 0-.619-.251-1.223-.687-1.66A2.361 2.361 0 0 0 13.344 56zM22.344 85c-.617 0-1.221.25-1.657.687a2.363 2.363 0 0 0-.687 1.66c0 .613.25 1.218.687 1.656a2.36 2.36 0 0 0 1.657.684A2.36 2.36 0 0 0 24 89.004c.436-.438.686-1.04.686-1.657 0-.619-.25-1.223-.686-1.66A2.361 2.361 0 0 0 22.344 85z">
																									</path>
																									<path fill="#55C6D9"
																										fill-rule="nonzero"
																										d="M98.5 53.47a2.518 2.518 0 0 0-2.518 2.517v26.246c-.014 12.508-10.15 22.645-22.659 22.659h-30.21a2.518 2.518 0 0 0-2.518 2.517v5.235L22.327 99.857 40.595 87.07v5.234a2.518 2.518 0 0 0 2.517 2.517h22.659c8.339-.008 15.097-6.766 15.105-15.105v-1.07a2.518 2.518 0 0 0-5.035 0v1.07c0 5.561-4.509 10.07-10.07 10.07H45.63v-7.553a2.518 2.518 0 0 0-3.96-2.062L16.493 97.795a2.517 2.517 0 0 0 0 4.124l25.177 17.623a2.517 2.517 0 0 0 3.96-2.062v-7.553h27.693c15.288-.018 27.676-12.406 27.694-27.694V55.987a2.518 2.518 0 0 0-2.518-2.518z">
																									</path>
																									<path fill="#F05562"
																										d="M20 41h25.183v6.519L31.979 80h-8.135L36.66 48.354H20z">
																									</path>
																								</g>
																							</svg> </span>
																					</div>
																				</div>

																				<div class="info-box-content">

																					<h4 class="info-box-title title box-title-style-default wd-fontsize-m"
																						data-elementor-setting-key="title">
																						ضمانت </h4>

																					<div class="info-box-inner set-cont-mb-s reset-last-child"
																						data-elementor-setting-key="content">
																						<p>اصالت کالا</p>
																					</div>

																				</div>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</section>
									</div>
								</div>
							</div>
						</div><!-- .widget-area -->
					</aside>
				</div>
			</div>


			<div class="my-4" style="width:100%;border-top: solid;border-width: 1px;border-color:#dee2e6;"></div>
			<div class="container mt-4">
				<section id="section1">
					<div class="feedbacks accordion  bg-transparent rounded-5">
						<div class="accordion-item col-12  bg-transparent rounded-5">
							<h2 class="accordion-header" id="flush-headingOne">
								<input class="accordion-button input-option collapsed text-end bg-transparent rounded-5"
									type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne"
									value="توضیحات">
							</h2>
							<div id="flush-collapseOne" class="accordion-collapse collapse"
								aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
								<div class="accordion-body text-dark text-end " dir="rtl">{{product.description}}
								</div>
							</div>
						</div>

					</div>

					<div class="feedbacks accordion bg-transparent rounded-5">
						<div class="accordion-item col-12  bg-transparent rounded-5 ">
							<h2 class="accordion-header" id="flush-headingTwo">
								<input class="accordion-button input-option collapsed text-end bg-transparent rounded-5"
									type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo"
									aria-expanded="false" aria-controls="flush-collapseTwo" value="معرفی">


							</h2>
							<div id="flush-collapseTwo" class="accordion-collapse collapse"
								aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
								<div class="accordion-body text-dark">Our team breaks the conventions and bad habits of
									territorial scientific investigations that disrupt the peace of the ocean. Promoting
									educational promulgation and contemporary revolution. </div>
							</div>
						</div>
					</div>
					<div class="feedbacks accordion  bg-transparent rounded-5">
						<div class="accordion-item col-12  bg-transparent rounded-5">
							<h2 class="accordion-header " id="flush-headingThree">
								<input class="accordion-button input-option collapsed text-end bg-transparent rounded-5"
									type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree"
									aria-expanded="false" aria-controls="flush-collapseThree" value="نظرات">
							</h2>
							<div id="flush-collapseThree" class="accordion-collapse collapse"
								aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
								<div class="container mr-4 mb-4 mt-4">
									<form class="review-form">
										<div class="form-group">
											<!-- <label>Your rating</label>
									<div class="reviews-counter">
										<div class="rate">
											<input type="radio" id="star5" name="rate" value="5" />
											<label for="star5" title="text">5 stars</label>
											<input type="radio" id="star4" name="rate" value="4" />
											<label for="star4" title="text">4 stars</label>
											<input type="radio" id="star3" name="rate" value="3" />
											<label for="star3" title="text">3 stars</label>
											<input type="radio" id="star2" name="rate" value="2" />
											<label for="star2" title="text">2 stars</label>
											<input type="radio" id="star1" name="rate" value="1" />
											<label for="star1" title="text">1 star</label>
										</div>
									</div> -->
										</div>
										<div class="form-group">
											<label>Your message</label>
											<textarea class="form-control" rows="10"></textarea>
										</div>
										<!-- <div class="" style="height: 900px;"></div> -->
										<div class="row">
											<div class="col-md-6">
												<div class="form-group">
													<input type="text" name="" class="form-control" placeholder="Name*">
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<input type="text" name="" class="form-control"
														placeholder="Email Id*">
												</div>
											</div>
										</div>
										<button class="round-black-btn" style="width: 200px;">Submit Review</button>
									</form>
								</div>
							</div>
						</div>
					</div>
				</section>







			</div>
		</div>
	</div>
</div>

































<!-- 
			<div class="product-info-tabs">
				<ul class="nav nav-tabs" id="myTab" role="tablist">
					<li class="nav-item">
						<a class="nav-link active" id="description-tab" data-toggle="tab" href="#description" role="tab"
							aria-controls="description" aria-selected="true">Description</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="review-tab" data-toggle="tab" href="#review" role="tab"
							aria-controls="review" aria-selected="false">Reviews (0)</a>
					</li>
				</ul>
				<div class="tab-content" id="myTabContent">
					<div class="tab-pane fade show active" id="description" role="tabpanel"
						aria-labelledby="description-tab">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
						labore
						et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
						ut
						aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
						culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus
						error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
					</div>
					<div class="tab-pane fade" id="review" role="tabpanel" aria-labelledby="review-tab">
						<div class="review-heading">REVIEWS</div>
						<p class="mb-20">There are no reviews yet.</p>
						<form class="review-form">
							<div class="form-group">
								<label>Your rating</label>
								<div class="reviews-counter">
									<div class="rate">
										<input type="radio" id="star5" name="rate" value="5" />
										<label for="star5" title="text">5 stars</label>
										<input type="radio" id="star4" name="rate" value="4" />
										<label for="star4" title="text">4 stars</label>
										<input type="radio" id="star3" name="rate" value="3" />
										<label for="star3" title="text">3 stars</label>
										<input type="radio" id="star2" name="rate" value="2" />
										<label for="star2" title="text">2 stars</label>
										<input type="radio" id="star1" name="rate" value="1" />
										<label for="star1" title="text">1 star</label>
									</div>
								</div>
							</div>
							<div class="form-group">
								<label>Your message</label>
								<textarea class="form-control" rows="10"></textarea>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<input type="text" name="" class="form-control" placeholder="Name*">
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<input type="text" name="" class="form-control" placeholder="Email Id*">
									</div>
								</div>
							</div>
							<button class="round-black-btn">Submit Review</button>
						</form>
					</div>
				</div>
			</div>

			<div style="text-align:center;font-size:14px;padding-bottom:20px;">Get free icon packs for your next project
				at
				<a href="http://iiicons.in/" target="_blank" style="color:#ff5e63;font-weight:bold;">www.iiicons.in</a>
			</div>
		</div>
	</div> -->
<!-- </div> -->