$primary: #f1bc31;

.pd-wrap {
	padding: 40px 0;
    font-family: 'IRANSans Light';
}
.heading-section {
	text-align: center;
	margin-bottom: 20px;

}
.sub-heading {
    font-family: 'IRANSans Light';
    font-size: 12px;
    display: block;
    font-weight: 600;
    color: #2e9ca1;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.heading-section h2 {
	font-size: 22px;
    font-weight: 500;
    padding-top: 10px;
    padding-bottom: 15px;
    font-family: 'IRANSans Bold';
}
.user-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: relative;
	min-width: 80px;
	background-size: 100%;
}
.carousel-testimonial .item {
	padding: 30px 10px;
}
.quote {
	position: absolute;
    top: -23px;
    color: #2e9da1;
    font-size: 27px;
}
.name {
	margin-bottom: 0;
    line-height: 14px;
    font-size: 17px;
    font-weight: 500;
}
.position {
	color: #adadad;
	font-size: 14px;
}
.owl-nav button {
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	outline: none;
	height: 25px;
}
.owl-nav button svg {
	width: 25px;
	height: 25px;
}
.owl-nav button.owl-prev {
	left: 25px;
}
.owl-nav button.owl-next {
	right: 25px;
}
.owl-nav button span {
	font-size: 45px;
}
.product-thumb .item img {
	height: 100px;
}
.product-name {
	font-size: 22px;
	font-weight: 500;
	line-height: 22px;
	margin-bottom: 4px;


}
.product-price-discount {
	font-size: 22px;
    font-weight: 400;
    padding: 10px 0;
    // clear: both;
}
.product-price-discount span.line-through {
	text-decoration: line-through;
    margin-left: 10px;
    font-size: 14px;
    // vertical-align: middle;
    color: #a5a5a5;
}
.display-flex {
	display: flex;
}
.align-center {
	align-items: center;
}
.product-info {
	width: 100%;
}
.reviews-counter {
    font-size: 13px;
}
.reviews-counter span {
	vertical-align: -2px;
}
.rate {
    float: right;
    padding: 0 10px 0 0;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float: right;
    width: 15px;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 21px;
    color:#ccc;
	margin-bottom: 0;
	line-height: 21px;
}
.rate:not(:checked) > label:before {
    content: '\2605';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}
.product-dtl p {
	font-size: 14px;
	line-height: 24px;
	color: #7a7a7a;
}
.product-dtl .form-control {
	font-size: 15px;
}
.product-dtl label {
	line-height: 16px;
	font-size: 15px;
}

.form-control:focus {
	outline: none;
	box-shadow: none;
}
.product-count {
	// margin-top: 15px; 
    width: 100%;

}
.product-count .qtyminus,
.product-count .qtyplus {
	width: 25px;
    height: 34px;
    background: #212529;
    text-align: center;
    font-size: 19px;
    line-height: 36px;
    color: #fff;
    cursor: pointer;
}
.product-count .qtyminus {
	border-radius: 3px 0 0 3px; 
}
.product-count .qtyplus {
	border-radius: 0 3px 3px 0; 
}
.product-count .qty {
	width: 40px;
    height: 34px;
	text-align: center;
}
.round-black-btn {
    margin-right: 3px;
    width: 138px;
    height: 34px;
	border-radius: 4px;
    background: #212529;
    color: #fff;
    // padding: 2px 2px ;
    text-align: center;
    display: inline-block;
    // margin-top: 5px;
    border: solid 2px #212529; 
    transition: all 0.5s ease-in-out 0s;
}
.round-black-btn:hover,
.round-black-btn:focus {
	background: transparent;
	color: #212529;
	text-decoration: none;
}

.product-info-tabs {
	margin-top: 25px; 
}
.product-info-tabs .nav-tabs {
	border-bottom: 2px solid #d8d8d8;
}
.product-info-tabs .nav-tabs .nav-item {
	margin-bottom: 0;
}
.product-info-tabs .nav-tabs .nav-link {
	border: none; 
	border-bottom: 2px solid transparent;
	color: #323232;
}
.product-info-tabs .nav-tabs .nav-item .nav-link:hover {
	border: none; 
}
.product-info-tabs .nav-tabs .nav-item.show .nav-link, 
.product-info-tabs .nav-tabs .nav-link.active, 
.product-info-tabs .nav-tabs .nav-link.active:hover {
	border: none; 
	border-bottom: 2px solid #d8d8d8;
	font-weight: bold;
}
.product-info-tabs .tab-content .tab-pane {
	padding: 30px 20px;
	font-size: 15px;
	line-height: 24px;
	color: #7a7a7a;
}
.review-form .form-group {
	clear: both;
}
.mb-20 {
	margin-bottom: 20px;
}

.review-form .rate {
	float: none;
	display: inline-block;
}
.review-heading {
	font-size: 24px;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 6px;
    text-transform: uppercase;
    color: #000;
}
.review-form .form-control {
	font-size: 14px;
}
.review-form input.form-control {
	height: 40px;
}
.review-form textarea.form-control {
	resize: none;
}
.review-form .round-black-btn {
	text-transform: uppercase;
	cursor: pointer;
}

.con {
    background: #fafafa 
    !important;
  
  }













body{
    margin:0;
    background-image:url('https://images.unsplash.com/photo-1435820394963-a15297f976fd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1380&q=80');
    background-size:cover;
    background-repeat:no-repeat;
  }
  #section1{
      min-height: 30vh;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-wrap: wrap;
      /* border: solid 1px #ffffff6b; */
      border-bottom-left-radius: 80px 80px;
      border-width: 0px;
  }
  
  .feedbacks{
      background-color: rgba(255, 255, 255, 0.541)!important;
      width: 100%;
      position: relative;
      display: flex;
      /* align-self: center; */
    //   width: 70%;
      /* height: 3rem; */
      /* margin-top: 4rem;
      left: 20%;
      right: 20%; */
      -webkit-backdrop-filter: blur(25px);
      backdrop-filter: blur(25px);
      text-align: right;
      border-color: #d00000 !important;
  }

  
  /*--------BOLD FONT FOR THE TITTLE/BUTTON-------*/
  
  .feedbacks button{
    width:400px;
      font-weight: bolder;
      border-color: none;
  }
  
.col-12{
    padding-right: 0px ;
  padding-left: 0px ;
//   border-color: #000000;
//   border: none !important;
}
.input-option{
    // background-color: #005a8e !important;
    color: black !important;
    transition: all 0.2s ease-in-out 0s;

}

.input-option:focus{
	// outline: none !important;
	box-shadow: 0px 1px 1px white !important;
    background-color: $primary !important;
    color: white !important;
    
    
}

.input-option:hover{
	// outline: none !important;
	box-shadow: 0px 1px 1px white !important;
    background-color: $primary !important;
    color: white !important;
    
}



accordion-item {
    border-color: #000000 !important;
}


.price-container{
    border-style: solid;
    border-width: 1px;
    border-color:#dee2e6;
    background-color: #f2f2f2;
    border-radius: 2%;
    padding: 20px;
    width: 100%;
    margin-top: 15px;

}
.price-container h2{
    font-size: 18px;
    // color:#dc3545;
    color:#ef6270;

}
.price-container p{
    color:#033265;
}









.carousel-indicators button.thumbnail {
    width: 100px;
  }
  .carousel-indicators button.thumbnail:not(.active) {
    opacity: 0.7;
  }
  .carousel-indicators {
    position: static;
  }
  @media screen and (min-width: 992px) {
    .carousel {
    //   max-width: 70%;
    //   margin: 0 auto;

    }
  }
  

  .elementor-35 .elementor-element.elementor-element-f2d2453 .info-box-title {
    font-size: 18px;
    font-family: 'IRANSans Bold';

}

.elementor-35 .elementor-element.elementor-element-f2d2453 .info-box-inner {
    font-size: 13px;
}

.elementor-35 .elementor-element.elementor-element-de316e7 .info-box-title {
    font-size: 18px;
    font-family: 'IRANSans Bold';

}

.elementor-35 .elementor-element.elementor-element-de316e7 .info-box-inner {
    font-size: 13px;
}

.elementor-35 .elementor-element.elementor-element-613ae88 .info-box-title {
    font-size: 18px;
    font-family: 'IRANSans Bold';

}

.elementor-35 .elementor-element.elementor-element-613ae88 .info-box-inner {
    font-size: 13px;
}