<div class="container mt-4 mb-4 d-flex align-items-center justify-content-center" id="scroll">
    <h2 class="container  d-flex align-items-center justify-content-center mt-4" style="font-weight: bold;">گروه پمپ های
        اطلس پمپ</h2>

    <div class="container mt-4 mb-4 d-flex align-items-center justify-content-center">
        <div *ngFor="let product of groupItemsData$|async" class="avatar-container mb-2" id="{{product.collection}}">
            <div class="item">
                <div href="#" class="avatar" (click)="goToProductCards(product.id)">
                    <div class="avatar-inner"><img src="{{product.image}}" alt=""></div>
                </div>
                <p class="align-items-center text-center"> {{product.title}}</p>
            </div>
        </div>
    </div>


</div>