<div class="input-group col-7 col-md-3">
    <form *ngIf="isHomePage()" class="searchform">
      <div class="form-group d-flex">
        <input
          type="text"
          class="form-control pl-3"
          placeholder="Search"
          (click)="toggleDropdown()"
          (input)="searchInputChange($event)"
        />
        <button type="submit" class="form-control search">
          <span class="fa fa-search"></span>
        </button>
      </div>
    </form>
  
    <!-- Add the dropdown component here -->

  </div>
  