<app-navbar></app-navbar>
<section>
    <section class="h-100 gradient-custom">
        <div class="container py-5 h-100 ">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-xl-12 ">
              <div class="card" style="border-radius: 10px; margin-bottom: 10px;" *ngFor="let product of groupItemsData$|async">
                
                <div class="p-4">
                  <div class="card">
                      <div class="card-body" >
                        <div class="mb-4" *ngFor="let pro of product.items">
                            <div class="row" style="flex-direction: row-reverse !important;">
                                <div class="col-md-2" style="text-align: right;">
                                <img src='{{pro.product.images[0].image}}' class="img-fluid" alt="{{pro.product.title}}" style="max-height: 80px;">
                                </div>
                                <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                    <p class="text-muted mb-0">{{pro.product.title}}</p>
                                </div>
                                <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                <p class="text-muted mb-0 small">{{pro.unit_price/10|
                                    persianPrice }}</p>
                                </div>
                            </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-8 d-flex align-items-center">

                        <div *ngIf="product.last_status == 'F'; else other_content">
                            <div class="col-md-12">
                                <div class="progress" style="height: 6px; border-radius: 16px;">
                                    <div class="progress-bar" role="progressbar"
                                    style="width: 100%; border-radius: 16px; background-color: red; direction: rtl;" aria-valuenow="100"
                                    aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <div class="d-flex justify-content-around mb-1">
                                    <p class="text-muted mt-1 mb-0 small ms-xl-5"></p>
                                    <p class="text-muted mt-1 mb-0 small ms-xl-5"></p>
                                    <p class="text-muted mt-1 mb-0 small ms-xl-5"></p>
                                    <p class="text-muted mt-1 mb-0 small ms-xl-5"></p>
                                    <p class="text-muted mt-1 mb-0 small ms-xl-5">ابطال</p>
                                </div>
                            </div>
                        </div>
                        
                        <ng-template  #other_content>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="progress" style="height: 6px; border-radius: 16px;">
                                    <div class="progress-bar" role="progressbar"
                                    style="width: {{ product.last_status | orderStatusPercentage}}%; border-radius: 16px; background-color: #a8729a; direction: rtl;" aria-valuenow="25"
                                    aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <div class="d-flex justify-content-around mb-1">
                                    <p class="text-muted mt-1 mb-0 small ms-xl-5">در انتظار تايید</p>
                                    <p class="text-muted mt-1 mb-0 small ms-xl-5">تايید شد</p>
                                    <p class="text-muted mt-1 mb-0 small ms-xl-5">در حال ارسال</p>
                                    <p class="text-muted mt-1 mb-0 small ms-xl-5">دریافت شد</p>
                                </div>
                            </div>
                        </div>
                    </ng-template> 
                    </div>

   
      
                    <div class="col-md-4 d-flex justify-content-between pt-2">
                        <h3 class="text-muted mb-0"> {{product.grand_total/10 | persianPrice}}</h3>
                        <p class="text-muted mb-0 px-3">مبلغ کل</p>
                    </div>
                    </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </section>
</section>

<app-footer></app-footer>