
::ng-deep body {
    background-color: #1065a0;

  }
@media (min-width: 1025px) {
    .h-custom {
    height: 100vh !important;
    }
    }
    
    .card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
    }
    
    .card-registration .select-arrow {
    top: 13px;
    }
    
    .bg-grey {
    background-color: #eae8e8;
    margin-bottom: 5px;
    }
    
    @media (min-width: 992px) {
    .card-registration-2 .bg-grey {
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    }
    }
    
    @media (max-width: 991px) {
    .card-registration-2 .bg-grey {
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    }
    }
    .round-black-btn {
      width: 230px;
      height: 40px;
      border-radius: 4px;
      background: #212529;
      color: #fff;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center; /* Center horizontally */
      border: solid 2px #212529;
      transition: all 0.5s ease-in-out 0s;
      text-transform: uppercase;
      cursor: pointer;
    }
    
    .round-black-btn:hover,
    .round-black-btn:focus {
      background: transparent;
      color: #212529;
      text-decoration: none;
    }
    
    .card-registration {
      overflow: hidden;
    }

    h1,h2,h3,h4,h5,h6{
      font-family: 'IRANSans Medium' !important;
    }