.tedad{
    background-color: orangered;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    position: absolute;
    margin-top: -7px;
    margin-left: -10px;
    align-items: center;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
}
.wrap {
  padding: 10px;
}

.phone {
  padding-top: 3px;
}
.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
  }
  
  #myInput {
    box-sizing: border-box;
    // background-image: url('searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
  }
  
  #myInput:focus {outline: 3px solid #ddd;}
  
  // .dropdown {
  //   position: relative;
  //   display: inline-block;
  // }
  
  // .dropdown-content {
  //   display: none;
  //   position: absolute;
  //   background-color: #f6f6f6;
  //   min-width: 230px;
  //   overflow: auto;
  //   border: 1px solid #ddd;
  //   z-index: 1;
  // }
  
  // .dropdown-content a {
  //   color: black;
  //   padding: 12px 16px;
  //   text-decoration: none;
  //   display: block;
  // }
  
  // .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}

  .input-text--style-1 {
    color: #5c636c;
    transition: all .6s linear;
    border: 1px solid transparent;
    background-color: #f1f1f1;
}

.input-text--border-radius {
    border-radius: 25px;
}
.input-text {
    font-size: 12px;
    background-clip: padding-box;
    padding: 0 18px;
    height: 40px;
    width: 450px;
}
button, input {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}
*, :after, :before {
    box-sizing: inherit;
}
user agent stylesheet
input[type="text" i] {
    writing-mode: horizontal-tb !important;
    padding-block: 1px;
    padding-inline: 2px;
}

.main-search-button {
  position: absolute;
  top: 50%;
  right: 25px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 18px;
}
.btn--icon {
  border: none;
  background-color: transparent;
  padding: 0;
}
.btn {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  font-size: 14px;
}
.dropdown {
  position: relative;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 150px;
  overflow-y: auto;
}

.dropdown.active .dropdown-menu {
  display: block;
}

.search-container {
  position: relative;
  width: 300px;
}

.search-bar {
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-bar:focus {
  outline: none;
}

.search-dropdown {
  display: none; 
  position: absolute;
  background-color: #f9f9f9;
  width: 300px; 
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  overflow-x: auto;
}

.search-dropdown a {
  padding: 12px 16px;
  text-decoration: none;
  display: inline-flex; 
  color: black;
  flex: 0 0 auto;
}

.search-dropdown a:hover {
  background-color: #f1f1f1;
}

#no-items{
  display: none;
  padding: 12px 16px;
  text-decoration: none;
  display: inline-flex; 
  color: black;
  flex: 0 0 auto;
}.search-results-dropdown {
  position: absolute;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 100%;
  z-index: 1000;

  a {
    display: block;
    padding: 8px 12px;
    text-decoration: none;
    color: black;

    &:hover {
      background-color: #f5f5f5;
    }
  }
} kendo-dropdownlist {
  width: 170px;
}

input[type="checkbox"],
input[type="radio"] {
  margin-right: 10px;
}

.topmost-div {
  position: absolute; 
  top: 40px; 
  left: 0; 
  right: 0;
  background-color: rgba(255, 255, 255, 0.8); 
  width: 450px;
 
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999; 
}
.dropdown-menu {
  display: block;
  margin-top: 5px;
  align-items: center;
  justify-content: center;
  width: 430px !important;
}
.main-form{
  align-items: center;
  justify-content: center;
}
/* Center the dropdown menu on all screen sizes */
.dropdown-menu-container {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  /* Add other styles like background-color, width, etc. as needed */
}
.drop-op{
  height: 40px;
  text-align: right;
  margin-bottom: 2px;
  padding-right: 20px;
  border-width: 0.5px;
  border-style: solid;
  border-color: rgb(38, 38, 85);
}
.img{
  height: 30px;
  width: 30px;
  margin-left: 10px;
}

/* Responsive styling for screens smaller than 768px */
@media (max-width: 768px) {
  .dropdown-menu-container {
    text-align: center;
  }

  .dropdown-menu {
    max-width:330px !important;
    // margin-top: 10px; /* Adjust the spacing from the input field */
    /* Add other responsive styles as needed */
  }
  .input-text {

    width: 380px;
}
}
/* Style the dropdown menu */
.dropdown-menu-container {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  // top: 100%;
  max-height: 209px; /* Set a maximum height for the dropdown to enable scrolling */
  // overflow-y: auto; /* Enable vertical scrollbar */
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #cccccc #f0f0f0; /* For Firefox */
}

/* Style the scrollbar (Webkit-based browsers like Chrome and Safari) */
.dropdown-menu::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

.dropdown-menu::-webkit-scrollbar-thumb {
  background-color: #cccccc; /* Color of the thumb */
  border-radius: 4px; /* Rounded corners for the thumb */
}

.dropdown-menu::-webkit-scrollbar-track {
  background-color: #f0f0f0; /* Color of the track */
}

/* Style the scrollbar (Firefox) */
.dropdown-menu {
  scrollbar-width: thin;
  scrollbar-color: #cccccc #f0f0f0;
}

.disabled-nav-item {
  cursor: help;
  color: #d8d8d8 !important;
}

.disabled-nav-item:hover  {
  background-color: none;
}