<div class="sticky-top">


  <div class="wrap bg-light">

    <div class="container">
      <div class="row justify-content-between">
        <div class="col mt-2">
          <p class="mb-0 phone">
            <span class="fa fa-phone"></span>
            <a href="#">041-42544213</a>
          </p>
        </div>
        <div class="col">
          <form class="main-form">
            <div class="input-container">
              <input class="input-text input-text--border-radius input-text--style-1" type="text" id="main-search"
                placeholder="Search" [ngModel]="searchText" [ngModelOptions]="{ standalone: true }"
                (input)="onInputChange($event.target)" (input)="goToProductCards()"
                (blur)="isInputFocused = false" />
              <!-- <button class="btn main-search-button" type="submit">
                <span class="fa fa-search"></span>
              </button> -->
            </div>

            <!-- <div class="dropdown-menu-container">
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <div class="" *ngFor="let product of productCardsData$ | async">
                  <a [routerLink]="['/product-details', product.id]" style="display: block;">
                    {{ product.title }}
                    <img class="img" [src]="product.images[0]?.image" alt=""></a>
                </div>
              </div>
            </div> -->
          </form>



        </div>
        <div class="col d-flex justify-content-end">
          <div class="social-media">
            <p class="mb-0 d-flex">
              <a (click)="profile()" class="d-flex align-items-center justify-content-center"><span
                  class="fa fa-user-circle"><i class="sr-only"></i></span></a>
              <a (click)="basket()" class="d-flex align-items-center justify-content-center "><span
                  class="fa fa-shopping-basket "><i class="tedad">{{cartData?.items?.length??0}}</i></span></a>
              <!-- <a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-instagram"><i
                    class="sr-only">Instagram</i></span></a>
              <a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-dribbble"><i
                    class="sr-only">Dribbble</i></span></a> -->
            </p>
          </div>
        </div>
      </div>


    </div>
  </div>
  <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar"
    role="navigation">

    <div class="container">
      <!-- <div *ngIf="isHomePage()" class="input-group col-7 col-md-3 mb-3">
  <select class="custom-select" id="inputGroupSelect01"><span class="fa fa-search"></span>
    <option selected>Choose...</option>
    <option value="1">One</option>
    <option value="2">Two</option>
    <option value="3">Three</option>
  </select>
</div> -->
      <div class="input-group col-7 col-md-3">


        <!-- <h4>Basic mat-select</h4>
    <mat-form-field>
      <mat-label>Favorite Brands</mat-label>
      <mat-select formControl="brandControl">
        <mat-option *ngFor="let brand of brands" [value]="brand.value">
          {{ brand.viewValue }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="brandControl.hasError('required')">Please choose a brand</mat-error>
    </mat-form-field>
    <p>You selected: {{selected}}</p> -->

        <!-- <h4>Basic native select</h4> -->


        <!-- <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Number</mat-label>
        <input type="text"
               placeholder="Pick one"
               aria-label="Number"
               matInput
               [formControl]="myControl"
               [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{ option }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form> -->



        <!-- <p>You selected: {{selectedValue}}</p> -->


        <!-- <mat-form-field>
      <mat-label>Brands</mat-label>
      <select matNativeControl required [(ngModel)]="selectedValue">
        <option *ngFor="let brand of brands" [value]="brand.value">
          {{ brand.viewValue }}
        </option>
      </select>
      <mat-error *ngIf="selectFormControl.hasError('required')">
        This field is required
      </mat-error>
    </mat-form-field> -->




        <!-- <div class="dropdown">
    <button (click)="toggleDropdown()" class="dropbtn">Dropdown</button>
    <div [ngClass]="{ 'dropdown-content': isDropdownVisible }">
      <input type="text" placeholder="Search.." id="myInput">
      <a href="#about">About</a>
      <a href="#base">Base</a>
      <a href="#blog">Blog</a>
      <a href="#contact">Contact</a>
      <a href="#custom">Custom</a>
      <a href="#support">Support</a>
      <a href="#tools">Tools</a>
    </div>
  </div>
   -->



        <!-- Add the dropdown component here -->
        <!-- <app-search-dropdown
    *ngIf="showDropdown"
    [searchResults]="searchResults"
    (itemSelected)="onItemSelected($event)"
  ></app-search-dropdown> -->
      </div>



      <a class="navbar-brand order-sm-start order-lg-last text-center justify-content-center" href=""><img
          src="assets/images/atlas.png" style="height: 60px;width: 80px;" alt="">
        <span> صنایع پمپ سازی اطلس </span>
      </a>

      <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#ftco-nav" aria-controls="ftco-nav"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="fa fa-bars"></span>
      </button>
      <div class="collapse navbar-collapse" id="ftco-nav">
        <ul class="navbar-nav m-auto text-end">
          <!-- <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-bs-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">لیست محصولات </a>
      <div class="dropdown-menu" aria-labelledby="dropdown04">
        <a class="dropdown-item" href="#">Page 1</a>
        <a class="dropdown-item" href="#">Page 2</a>
        <a class="dropdown-item" href="#">Page 3</a>
        <a class="dropdown-item" href="#">Page 4</a>
      </div>
    </li> -->
          <li class="nav-item disabled-nav-item"><a class="nav-link disabled-nav-item" disabled="disabled">دریافت اپلیکیشن</a></li>

          <li class="nav-item disabled-nav-item"><a class="nav-link disabled-nav-item" disabled="disabled">فعالسازی گارانتی </a></li>
          <li class="nav-item"><a [routerLink]='[""]' class="nav-link"> لیست محصولات </a></li>
          <li class="nav-item"><a (click)="aboutUs()" class="nav-link">درباره ی اطلس پمپ</a></li>
          <!-- <li class="nav-item"><a href="#" class="nav-link">لیست قیمت محصولات</a></li> -->
          <li class="nav-item"><a href="http://atlaspump.co/choice/" class="nav-link">راهنمای انتخاب پمپ</a></li>

          <li class="nav-item active"><a href="http://atlaspump.co/" class="nav-link">صفحه نخست</a></li>


        </ul>
      </div>
    </div>
  </nav>
</div>