<app-navbar></app-navbar>








<section class="h-100 print h-custom mt-4" *ngFor="let cart1 of (cartData$ | async)">
    <div class="container py-5 h-100 text-end">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12">
                <div class="card card-registration card-registration-2" style="border-radius: 15px;">
                    <div class="card-body p-0">
                        <div class="row g-0" style="flex-direction: row-reverse !important;">

                            <div class="col-lg-9">
                                <!-- <h1 class="fw-bold mb-0 text-black mr-4 mt-4 ">سبد خرید</h1> -->
                                <div class="p-5 " #printSectionId id="printSectionId">
                                    <div class="d-flex justify-content-between mt-2">
                                        <div class="mt-4" lang="fa" xml:lang="fa" dir="rtl">
                                            <div class="mr-2">تاریخ: </div>{{ currentPersianDate }}
                                        </div>
                                        <div class="" style="width: 200px; height: 200px;" dir="rtl">
                                            <img src="assets/images/atlas.png" style="width: 100px; height: 60px;"
                                                alt="">
                                            <div class="mr-2">اطلس پمپ تبریز</div>
                                        </div>
                                    </div>

                                    <div *ngIf="isAuthenticated" class="align-items-end text-end mb-5 mr-4">
                                        <h5 dir="rtl"> مشخصات کاربر:</h5>
                                        <h5 dir="rtl">{{profileData.first_name}}</h5>
                                        <h5 dir="rtl">{{profileData.last_name}}</h5>
                                        <h5 dir="ltr">{{profileData.username}}</h5>
                                    </div>
                                    <hr class="my-4">

                                    <table class="table" dir="rtl">
                                        <thead>
                                            <tr>

                                                <th>عنوان محصول</th>
                                                <th>تعداد</th>
                                                <th>قیمت محصول</th>
                                                <th>قیمت کل (به تومان)</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <ng-container *ngFor="let cart of cart1.items">
                                                <tr>

                                                    <td>{{ cart.product.title }}</td>
                                                    <td>

                                                        <span>{{ cart.quantity }}</span>

                                                    </td>
                                                    <td>{{ cart.product.unit_price/10 | persianPrice }}</td>
                                                    <td>{{ cart.total_price / 10 | persianPrice }}</td>

                                                </tr>
                                            </ng-container>
                                        </tbody>
                                    </table>

                                    <hr class="my-4">
                                    <div class="d-flex justify-content-between mb-5"
                                        *ngFor="let cart of (cartData$ | async)">
                                        <div class="" dir="rtl">
                                            <h5 class="text-uppercase">مبلغ کل</h5>
                                            <h5>{{ cart.grand_total / 10 | persianPrice }}</h5>
                                        </div>
                                        <div class=""></div>
                                    </div>
                                    <div class="pt-5">
                                        <h5 class="mb-0" dir="rtl">
                                            *این فاکتور ارزش خاصی ندارد و فقط جهت پیگیری سفارش ساخته شده است

                                        </h5>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

























<div class="container text-end" *ngFor="let cart1 of (cartData$ | async)">
    <div class="row mx-4 khali d-flex justify-content-center align-items-center h-100 mt-4"
        *ngIf="cart1.grand_total==0">
        <span class="fa fa-shopping-basket d-flex justify-content-center align-items-center sabad mt-4"></span>
        <div class="mt-4"> سبد خرید شما خالی است</div>
    </div>

</div>





<section class="h-100 h-custom" *ngFor="let cart1 of (cartData$ | async)">

    <div class="container py-5 h-100 text-end" *ngIf="cart1.grand_total!=0">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12">
                <div class="card card-registration card-registration-2" style="border-radius: 15px;">
                    <div class="card-body p-0">
                        <div class="row g-0" style="flex-direction: row-reverse !important;">
                            <div class="col-lg-9">
                                <div class="p-5">
                                    <div class="d-flex justify-content-between align-items-center text-end mb-5">
                                        <h6 class="mb-0 text-muted"></h6>
                                        <h1 class="fw-bold mb-0 text-black ">سبد خرید</h1>

                                    </div>
                                    <hr class="my-4">

                                    <div class="" *ngFor="let cart1 of (cartData$ | async)">

                                        <div class="row mb-4 d-flex justify-content-between align-items-center"
                                            *ngFor="let cart of cart1.items"
                                            style="flex-direction: row-reverse !important;">
                                            <div class="col-md-2 col-lg-2 col-xl-2">
                                                <img src="{{ cart.product.images[0].image }}"
                                                    class="img-fluid rounded-3" alt="اطلس پمپ">
                                            </div>
                                            <div class="col-md-2 col-lg-2 col-xl-2 ml-2">
                                                <h5 class="">{{ cart.product.title }}</h5>
                                            </div>
                                            <div class="col-md-2 col-lg-2 col-xl-1 d-flex mr-2">
                                                <button class="btn btn-link px-2" *ngIf="(cart.quantity > 0)"
                                                    onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                                                    (click)="editOrder((cart.quantity-1), cart.id)">
                                                    <i class="fa fa-minus"></i>
                                                </button>

                                                <input style="width: 50px;" id="form1" name="quantity"
                                                    value="{{ cart.quantity }}" type="number"
                                                    class="form-control form-control-sm" />

                                                <button class="btn btn-link px-2"
                                                    onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                                                    (click)="editOrder((cart.quantity+1), cart.id)">
                                                    <i class="fa fa-plus"></i>
                                                </button>
                                            </div>

                                            <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1" dir="rtl">
                                                <h5 class="mb-0 " dir="rtl">{{ cart.total_price / 10 | persianPrice }}
                                                </h5>
                                            </div>
                                            <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                                                <a (click)="delOrder(cart.id)" class="text-muted"><i
                                                        class="fa fa-times"></i></a>
                                            </div>
                                        </div>
                                    </div>


                                    <hr class="my-4">

                                    <div class="pt-5">
                                        <h5 class="mb-0"><a (click)="goHome()" class="text-body"><i
                                                    class="fa fa-long-arrow-alt-left me-2"></i>برگشت به صفحه خرید</a>
                                        </h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 bg-grey">
                                <div class="p-5">
                                    <h3 class="fw-bold mb-5 mt-2 pt-1">جمع بندی</h3>
                                    <hr class="my-4">

                                    <!-- <div class="d-flex justify-content-between mb-4">
                                        <h5> 132</h5>
                                        <h5 class="text-uppercase">تعداد</h5>

                                    </div> -->

                                    <!-- <h5 class="text-uppercase mb-3">Shipping</h5>

                                    <div class="mb-4 pb-2">
                                        <select class="select">
                                            <option value="1">Standard-Delivery- €5.00</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                            <option value="4">Four</option>
                                        </select>
                                    </div>

                                    <h5 class="text-uppercase mb-3">Give code</h5>

                                    <div class="mb-5">
                                        <div class="form-outline">
                                            <input type="text" id="form3Examplea2"
                                                class="form-control form-control-lg" />
                                            <label class="form-label" for="form3Examplea2">Enter your code</label>
                                        </div>
                                    </div> -->

                                    <hr class="my-4">

                                    <div class="d-flex justify-content-between mb-5"
                                        *ngFor="let cart of (cartData$ | async)">
                                        <h5 dir="rtl"> {{cart.grand_total / 10 | persianPrice }}</h5>
                                        <h5 class="text-uppercase">مبلغ کل</h5>

                                    </div>

                                    <button class="round-black-btn" *ngIf="!isAuthenticated"
                                        (click)="signinPopup()">ادامه
                                        خرید</button>

                                    <div *ngIf="isAuthenticated"> <button class="round-black-btn"
                                            *ngIf="isComplete==false " (click)="openPopup()">ادامه
                                            خرید</button>
                                        <button class="round-black-btn" *ngIf="isComplete==true"
                                            (click)="openPopup2()">ادامه
                                            خرید</button>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- Add overlay div -->
<div class="overlay" [ngStyle]="{'display': displayStyle}"></div>
<hr />
<!-- <button style="margin: 50px; padding: 10px" type="button" class="btn btn-primary" (click)="openPopup()">Show Data</button> -->

<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display': displayStyle}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-end">
                <h4 class="modal-title text-end" dir="rtl">توجه کنید</h4>
            </div>
            <div class="modal-body text-dark" style="">
                <p dir="rtl">برای ثبت سفارش خود ابتدا باید مشخصات کاربری یا پروفایل خود را تکمیل کنید.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="closePopup()">بستن</button>
                <button type="button" class="btn btn-primary" (click)="goProfile()">رفتن به صفحه پروفایل</button>
            </div>
        </div>
    </div>
</div>


<div class="overlay" [ngStyle]="{'display': displayStyle2}"></div>
<hr />
<!-- <button style="margin: 50px; padding: 10px" type="button" class="btn btn-primary" (click)="openPopup()">Show Data</button> -->

<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display': displayStyle2}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header  text-end" dir="rtl">
                <h4 class="modal-title text-end">ادامه ی خرید</h4>
            </div>
            <div class="modal-body text-dark" style="">
                <p dir="rtl">ثبت خرید و صدور فاکتور </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="closePopup2()">بستن</button>
                <button type="button" class="btn btn-primary" ngxPrint printSectionId="printSectionId"
                    (click)="openPopup2()" (click)="getOrders()" [useExistingCss]="true">ثبت خرید و صدور فاکتور</button>
            </div>
        </div>
    </div>
</div>


<div class="overlay" [ngStyle]="{'display': displayStyle3}"></div>
<hr />
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display': displayStyle3}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header  text-end" dir="rtl">
                <h4 class="modal-title text-end">ادامه ی خرید</h4>
            </div>
            <div class="modal-body text-dark" style="">
                <p dir="rtl"> لطفا برای ادامه ی خرید وارد حساب کاربری خود شوید. </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="closeSigninPopup()">بستن</button>
                <button type="button" class="btn btn-primary" (click)="signinPopup()" (click)="goSignin()">ورود</button>
            </div>
        </div>
    </div>
</div>