
::ng-deep body {
    background-color: #1065a0;

  }
@media (min-width: 1025px) {
    .h-custom {
    height: 100vh !important;
    }
    }
    
    .card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
    }
    
    .card-registration .select-arrow {
    top: 13px;
    }
    
    .bg-grey {
    background-color: #eae8e8;
    }
    
    @media (min-width: 992px) {
    .card-registration-2 .bg-grey {
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    }
    }
    
    @media (max-width: 991px) {
    .card-registration-2 .bg-grey {
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    }
    }
    .round-black-btn {
      width: 170px;
      height: 40px;
      border-radius: 4px;
      background: #212529;
      color: #fff;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center; /* Center horizontally */
      border: solid 2px #212529;
      transition: all 0.5s ease-in-out 0s;
      text-transform: uppercase;
      cursor: pointer;
    }
    
    .round-black-btn:hover,
    .round-black-btn:focus {
      background: transparent;
      color: #212529;
      text-decoration: none;
    }
    

    .khali{
      font-size:47px;
      font-weight: bold;
      text-align: center !important;
    }
    .sabad{
      font-size: 270px;
    }

    @media print {
      @media (min-width: 1025px) {
        .h-custom {
        height: 100vh !important;
        }
        }
        
        .card-registration .select-input.form-control[readonly]:not([disabled]) {
        font-size: 1rem;
        line-height: 2.15;
        padding-left: .75em;
        padding-right: .75em;
        }
        
        .card-registration .select-arrow {
        top: 13px;
        }
        
        .bg-grey {
        background-color: #eae8e8;
        }
        
        @media (min-width: 992px) {
        .card-registration-2 .bg-grey {
        border-top-right-radius: 16px;
        border-bottom-right-radius: 16px;
        }
        }
        
        @media (max-width: 991px) {
        .card-registration-2 .bg-grey {
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
        }
        }
        .round-black-btn {
          width: 170px;
          height: 40px;
          border-radius: 4px;
          background: #212529;
          color: #fff;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center; /* Center horizontally */
          border: solid 2px #212529;
          transition: all 0.5s ease-in-out 0s;
          text-transform: uppercase;
          cursor: pointer;
        }
        
        .round-black-btn:hover,
        .round-black-btn:focus {
          background: transparent;
          color: #212529;
          text-decoration: none;
        }
        
    
        .khali{
          font-size:47px;
          font-weight: bold;
          text-align: center !important;
        }
        .sabad{
          font-size: 270px;
        }
        @media print {
          #printSectionId {
            page-break-after: always;
          }
        }
        
    }
    
    .print{
      display: none;
    }

    .overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5); /* Adjust the alpha value to control darkness */
      display: none;
      z-index: 1000; /* Adjust the z-index to make sure the overlay is on top of everything */
    }
    
    .modal {
      /* Your existing modal styles */
    }
    