body {
    margin: 0;
    padding-top: 40px;
    color: #2e323c;
    // background: #1065a0 !important;
    position: relative;
    height: 100%;
}
::ng-deep body {
    background:  #1065a0
    !important;
  
  }
  .pretty-link {
    color: #0056b3 !important; /* Text color */
    padding: 10px 20px !important; /* Add padding to make it clickable */
    border-radius: 5px !important; /* Rounded corners */
    font-weight: bold !important;
    transition: background-color 0.3s ease !important; /* Add a smooth transition effect */
  }
  
  .pretty-link:hover {
    color: #fed400 !important; /*rgb(230, 184, 0) the background color on hover */
  }
  
.account-settings .user-profile {
    margin: 0 0 1rem 0;
    padding-bottom: 1rem;
    text-align: center;
}
.account-settings .user-profile .user-avatar {
    margin: 0 0 1rem 0;
}
.account-settings .user-profile .user-avatar img {
    width: 90px;
    height: 90px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
}
.account-settings .user-profile h5.name {
    margin: 0 0 0.5rem 0;
}
.account-settings .user-profile h6.name2 {
    margin: 0;
    font-size: 0.8rem;
    font-weight: 400;
    color: #9fa8b9;
}
.account-settings .about {
    margin: 2rem 0 0 0;
    text-align: center;
}
.account-settings .about h5 {
    margin: 0 0 15px 0;
    color: #007ae1;
}
.account-settings .about p {
    font-size: 0.825rem;
}
.form-control {
    border: 1px solid #cfd1d8;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-size: .825rem;
    background: #ffffff;
    color: #2e323c;
}

.card {
    background: #ffffff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 0;
    margin-bottom: 1rem;
}

