<app-navbar></app-navbar>
<div class="container mt-4 text-end">
    <div class="row gutters">
        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
            <div class="card h-100">
                <div class="card-body">
                    <div class="account-settings">
                        <div class="user-profile">
                            <div class="user-avatar">
                                <video src="assets/images/gif.mp4"
                                    style="width: 80px;height: 80px;border-radius: 10%;"></video>
                            </div>
                            <h5 class="name mt-4">ATLAS</h5>
                            <hr class="my-4 mt-4">
                            <a class="pretty-link" (click)="goToList()">لیست سفارشات</a>
                            <hr class="my-4">
                            <a class="pretty-link" (click)="logOut()">خروج از حساب کاربری <i class="fa fa-sign-out"
                                    aria-hidden="true"></i>
                            </a>
                            <hr class="my-4">
                            <!-- <h6 class="name2">Pomp</h6> -->
                        </div>
                        <!-- <div class="about">
                    <h5>About</h5>
                    <p>I'm Yuki. Full Stack Designer I enjoy creating user-centric, delightful and human experiences.</p>
                </div> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
            <div class="card h-100">
                <div class="card-body ">
                    <form>
                        <div class="row gutters">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <h6 class="mb-2 text-primary">مشخصات شخصی</h6>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="website">نام خانوادگی </label>
                                    <input type="text" class="form-control text-end" id="fullName" type="text"
                                        [(ngModel)]="infoForm.last_name" minlength="3" maxlength="20"
                                        #last_name="ngModel" name="last_name" placeholder="نام خانوادگی" required>
                                    <div class="text-danger text-end mr-4" *ngIf="last_name.errors && f.submitted">
                                        <!-- <div *ngIf="last_name.errors['required']">نام کاربری الزامی است</div> -->
                                        <div *ngIf="last_name.errors['minlength']">نام کاربری باید حداقل 3 حرف باشد
                                        </div>
                                        <div *ngIf="last_name.errors['maxlength']">نام کاربری باید حداکثر 20 حرف باشد
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="fullName">نام</label>
                                    <input type="text" class="form-control text-end" id="fullName" type="text"
                                        [(ngModel)]="infoForm.first_name" required minlength="3" maxlength="20"
                                        #first_name="ngModel" name="first_name" placeholder="نام" required>
                                    <div class="text-danger text-end mr-4" *ngIf="first_name.errors && f.submitted">
                                        <div *ngIf="first_name.errors['required']">نام کاربری الزامی است</div>
                                        <div *ngIf="first_name.errors['minlength']">نام کاربری باید حداقل 3 حرف باشد
                                        </div>
                                        <div *ngIf="first_name.errors['maxlength']">نام کاربری باید حداکثر 20 حرف باشد
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="eMail">ایمیل</label>
                                    <input [(ngModel)]="infoForm.email" required #email="ngModel" type="email"
                                        name="email" placeholder="ایمیل" required class="form-control text-end"
                                        id="ciTy">
                                    <div class="text-danger text-end mr-4"
                                        *ngIf="email.errors && ((email.errors['required'] || email.errors['email']) && f.submitted)">
                                        <div *ngIf="email.errors['required']">ایمیل الزامی است</div>
                                        <div class="text-end" *ngIf="email.errors['email']">لطفاً یک آدرس ایمیل معتبر
                                            وارد کنید</div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="phone">شماره تماس</label>
                                    <input [(ngModel)]="infoForm.username" required #username="ngModel" minLength="9"
                                        pattern="\+98\d{10}" class="form-group" type="text" name="username"
                                        placeholder="شماره موبایل" required class="form-control text-end" id="ciTy">
                                    <div class="text-danger text-end mr-4"
                                        *ngIf="username.errors && ((username.errors['required'] || username.errors['pattern'])&& f.submitted) ">
                                        <div *ngIf="username.errors['required']">شماره موبایل الزامی است</div>
                                        <div class="text-end" *ngIf="username.errors['pattern']">شماره موبایل باید
                                            به
                                            شکل "+989..." باشد
                                            (مثال: +989143610514)</div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row gutters">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="text-left">
                                    <!-- <button type="button" id="submit" name="submit"
                class="btn btn-secondary">Cancel</button> -->
                                    <button type="button" id="submit" type="submit" (click)=" onInfoForm()"
                                        class="btn btn-primary ml-2 text-light">ذخیره</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <form>
                        <div class="row gutters">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <h6 class="mb-2 text-primary">تکمیل مشخصات شخصی</h6>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="website"> کدملی</label>
                                    <input type="text" class="form-control text-end" id="fullName" type="text"
                                        [(ngModel)]="detailForm.nationalid" minlength="10" maxlength="10"
                                        #nationalid="ngModel" name="nationalid" placeholder="کد ملی" required>
                                    <div class="text-danger text-end mr-4" *ngIf="nationalid.errors && f.submitted">
                                        <!-- <div *ngIf="last_name.errors['required']">نام کاربری الزامی است</div> -->
                                        <div *ngIf="nationalid.errors['minlength']">کدملی باید حداقل 10 رقم باشد
                                        </div>
                                        <div *ngIf="nationalid.errors['maxlength']">کدملی باید حداکثر 10 رقم باشد
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="website">استان </label>
                                    <!-- <input type="text" class="form-control text-end" id="fullName" type="text"
                                        [(ngModel)]="detailForm.state" minlength="3" maxlength="20" #state="ngModel"
                                        name="state" placeholder="استان " required> -->



                                    <select for="exampleFormControlSelect1" class="form-control text-end" id="fullName"
                                        [(ngModel)]="detailForm.state" minlength="3" maxlength="20" #state="ngModel"
                                        name="state" aria-placeholder="استان" dir="rtl">
                                        <option value="0">لطفا استان را انتخاب نمایید</option>
                                        <option value="1">تهران</option>
                                        <option value="2">گیلان</option>
                                        <option value="3">آذربایجان شرقی</option>
                                        <option value="4">خوزستان</option>
                                        <option value="5">فارس</option>
                                        <option value="6">اصفهان</option>
                                        <option value="7">خراسان رضوی</option>
                                        <option value="8">قزوین</option>
                                        <option value="9">سمنان</option>
                                        <option value="10">قم</option>
                                        <option value="11">مرکزی</option>
                                        <option value="12">زنجان</option>
                                        <option value="13">مازندران</option>
                                        <option value="14">گلستان</option>
                                        <option value="15">اردبیل</option>
                                        <option value="16">آذربایجان غربی</option>
                                        <option value="17">همدان</option>
                                        <option value="18">کردستان</option>
                                        <option value="19">کرمانشاه</option>
                                        <option value="20">لرستان</option>
                                        <option value="21">بوشهر</option>
                                        <option value="22">کرمان</option>
                                        <option value="23">هرمزگان</option>
                                        <option value="24">چهارمحال و بختیاری</option>
                                        <option value="25">یزد</option>
                                        <option value="26">سیستان و بلوچستان</option>
                                        <option value="27">ایلام</option>
                                        <option value="28">کهگلویه و بویراحمد</option>
                                        <option value="29">خراسان شمالی</option>
                                        <option value="30">خراسان جنوبی</option>
                                        <option value="31">البرز</option>

                                    </select>





                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="fullName">آدرس</label>
                                    <input type="text" class="form-control text-end" id="fullName" type="text"
                                        [(ngModel)]="detailForm.adress" required minlength="3" maxlength="20"
                                        #adress="ngModel" name="adress" placeholder="آدرس" required>

                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="website">شهر </label>
                                    <input type="text" class="form-control text-end" id="fullName" type="text"
                                        [(ngModel)]="detailForm.city" minlength="3" maxlength="20" #city="ngModel"
                                        name="city" placeholder="شهر" required>

                                </div>
                            </div>


                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="fullName">شغل</label>
                                    <input [(ngModel)]="detailForm.job" required #job="ngModel" type="text" name="job"
                                        placeholder="شغل" required class="form-control text-end" id="fullName">


                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="fullName"> تحصیلات</label>
                                    <input [(ngModel)]="detailForm.edu" required #edu="ngModel" minLength="9"
                                        class="form-group" type="text" name="edu" placeholder="تحصیلات" required
                                        class="form-control text-end" id="ciTy">

                                </div>
                            </div>

                        </div>
                        <div class="row gutters">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="text-left">
                                    <!-- <button type="button" id="submit" name="submit"
                class="btn btn-secondary">Cancel</button> -->
                                    <button type="button" id="submit" type="submit" (click)=" ondetailForm()"
                                        class="btn btn-primary ml-2 text-light">ذخیره</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <form action="#" method="post" name="changePhoneForm" #f="ngForm" novalidate>
                        <div class="row gutters">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <h6 class="mt-3 mb-2 text-primary">تغییر شماره موبایل</h6>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="Street">رمز</label>
                                    <input [(ngModel)]="changePhoneForm.current_password" required minlength="8"
                                        #current_password="ngModel" class="form-group" type="current_password"
                                        name="current_password" placeholder="رمز" required class="form-control text-end"
                                        id="Street" placeholder="رمز">
                                    <div class="text-danger text-end  mr-4"
                                        *ngIf="current_password.errors && f.submitted">
                                        <div *ngIf="current_password.errors['required']">رمز عبور الزامی است</div>
                                        <div *ngIf="current_password.errors['minlength']">رمز عبور باید حداقل 8 حرف باشد
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="ciTy">شماره موبایل جدید</label>
                                    <input [(ngModel)]="changePhoneForm.new_username" required #new_username="ngModel"
                                        minLength="9" pattern="\+98\d{10}" class="form-group" type="text"
                                        name="new_username" placeholder="شماره موبایل" required
                                        class="form-control text-end" id="ciTy">
                                    <div class="text-danger text-end mr-4"
                                        *ngIf="new_username.errors && ((new_username.errors['required'] || new_username.errors['pattern'])&& f.submitted) ">
                                        <div *ngIf="new_username.errors['required']">شماره موبایل الزامی است</div>
                                        <div class="text-end" *ngIf="new_username.errors['pattern']">شماره موبایل باید
                                            به
                                            شکل "+989..." باشد
                                            (مثال: +989143610514)</div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="row gutters">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="text-left">
                                    <!-- <button type="button" id="submit" name="submit"
                                class="btn btn-secondary">Cancel</button> -->
                                    <button type="button" id="submit" name="submit" (click)=" changePhone()"
                                        class="btn btn-primary ml-2 text-light">ذخیره</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <form>
                        <div class="row gutters">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <h6 class="mt-3 mb-2 text-primary">تغییر رمز </h6>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="Street">رمز قبلی</label>
                                    <input [(ngModel)]="changePassForm.current_password" required minlength="8"
                                        #current_password="ngModel" class="form-group" type="current_password"
                                        name="current_password" placeholder="رمز" required class="form-control text-end"
                                        id="Street" placeholder="رمز">
                                    <div class="text-danger text-end  mr-4"
                                        *ngIf="current_password.errors && f.submitted">
                                        <div *ngIf="current_password.errors['required']">رمز عبور الزامی است</div>
                                        <div *ngIf="current_password.errors['minlength']">رمز عبور باید حداقل 8 حرف باشد
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="ciTy">رمز جدید</label>
                                    <input [(ngModel)]="changePassForm.new_password" required minlength="8"
                                        #new_password="ngModel" class="form-group" type="new_password"
                                        name="new_password" placeholder="رمز" required class="form-control text-end"
                                        id="Street" placeholder="رمز">
                                    <div class="text-danger text-end  mr-4" *ngIf="new_password.errors && f.submitted">
                                        <div *ngIf="new_password.errors['required']">رمز عبور الزامی است</div>
                                        <div *ngIf="new_password.errors['minlength']">رمز عبور باید حداقل 8 حرف باشد
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row gutters">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="text-left">
                                    <!-- <button type="button" id="submit" name="submit"
                                class="btn btn-secondary">Cancel</button> -->
                                    <button type="button" id="submit" name="submit" (click)=" changePass()"
                                        class="btn btn-primary ml-2 text-light">ذخیره</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>