<div class="main-w3layouts wrapper">
    <h1>ثبت نام</h1>
    <div class="main-agileinfo">
        <div class="agileits-top">
            <form [formGroup]="angForm" novalidate (ngSubmit)="onSubmit()">
                <div class="form-group mb-4">
                    <input class="text email text-end form-group mb-0" type="text" formControlName="first_name"
                        placeholder="نام" required>
                    <div class="text-danger text-end mr-4"
                        *ngIf="angForm.get('first_name')?.hasError('required') && angForm.get('first_name')?.touched">
                        نام کاربری الزامی است
                    </div>
                </div>

                <div class="form-group mb-4">
                    <input class="text email text-end form-group mb-0" type="text" formControlName="last_name"
                        placeholder="نام خانوادگی" required>
                    <div class="text-danger text-end mr-4"
                        *ngIf="angForm.get('last_name')?.hasError('required') && angForm.get('last_name')?.touched">
                        نام خانوادگی الزامی است
                    </div>
                </div>

                <div class="form-group mb-4">
                    <input class="text email text-end form-group mb-0" type="text" formControlName="username"
                        placeholder="شماره موبایل" required>
                    <div class="text-danger text-end mr-4"
                        *ngIf="angForm.get('username')?.hasError('required') && angForm.get('username')?.touched">
                        شماره موبایل الزامی است
                    </div>
                    <div class="text-end mr-4"
                        *ngIf="angForm.get('username')?.hasError('pattern') && angForm.get('username')?.touched">
                        شماره موبایل باید به شکل "+989..." باشد (مثال: +989143610514)
                    </div>
                </div>

                <div class="form-group mb-4">
                    <input class="text email text-end form-group mb-0" type="password" formControlName="password"
                        placeholder="رمز" required>
                    <div class="text-danger text-end mr-4"
                        *ngIf="angForm.get('password')?.hasError('required') && angForm.get('password')?.touched">
                        رمز عبور الزامی است
                    </div>
                    <div class="text-danger text-end mr-4"
                        *ngIf="angForm.get('password')?.hasError('minlength') && angForm.get('password')?.touched">
                        رمز عبور باید حداقل 8 حرف باشد
                    </div>
                </div>

                <input type="submit" [disabled]="!angForm.valid" value="ثبت نام">

                <div class="form-group">
                    <div class="text-danger text-end" *ngIf="isSignUpFailed">
                        <!-- ثبت نام ناموفق بود!<br />{{ errorMessage }} -->
                    </div>
                </div>
            </form>

            <p>اکانت دارید؟ <a href="" routerLink="/signin"> ورود</a></p>
        </div>
    </div>

    <!-- copyright -->
    <div class="colorlibcopy-agile">
        <p>© All rights reserved <a href="" target="_blank">Atlas</a></p>
    </div>
    <!-- //copyright -->

    <ul class="colorlib-bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>