<div class="con"><app-navbar></app-navbar>
  <app-first-products></app-first-products>
  <app-carousel></app-carousel>
  <app-group-items></app-group-items>
  <app-product-card></app-product-card>
  <app-footer></app-footer>
</div>